name: TF docs

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "main"
    paths:
      - src/**

permissions:
  contents: write
  pull-requests: write

jobs:
  validate:
    name: validate
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          sparse-checkout: src
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Render terraform docs and push changes back to PR
        uses: terraform-docs/gh-actions@aeae0038ed47a547e0c0fca5c059d3335f48fb25 # v1.3.0
        with:
          working-dir: src
          output-file: README.md
          output-method: inject
          git-push: "true"
